*{
  margin:0;
  padding:0;
}

.App {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  min-height:100vh;
  background:linear-gradient(to right,#3C656B,#35445B);
  color:white;
}

.active-label {
  color: #0C0E1B;
  background-color: #FE6F6B;
}

.timer-container {
  display: flex;
  flex:2;
  align-items: center;
  justify-content: center;
}

.time-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 15rem;
  border-radius: 7.5rem;
  color:#efefef;
  background: #151932;
  font-size: 3.5rem;
  box-shadow: 1rem 1.5rem 2rem rgba(0,0,0,0.6)
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding:2rem
}

button {
  color:#efefef;
  font-size:0.8rem;
  padding: 0.5rem 1.2rem;
  border:none;
  border-radius:3rem;
  margin:0.2rem;;
  background:#0C0E1B;
  min-width: 80px;
  cursor: pointer;
}

.button-wrapper button.activve {
  color: #0C0E1B;
  background-color: #C9CCEA;
  border: 1px solid #0C0E1B;
}

ul{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  list-style-type: none;
  margin:20px 0;
}

.title {
  display:flex;
  align-items:baseline;
}
.title h1{
  font-size:2.5em;
  font-weight: 800;
  margin-right:5px;
}


.form-container {
  text-align: center;
}
.input-wrapper {
  margin:2rem 1.5rem;
}
.input-wrapper input {
  height: 30px;
  width: 30px;
  padding: 2rem;
  background-color: #3d3d3d3d;
  color:#C9CCEA;
  border: none;
  border-radius: 50%;
  margin-right: 0.3rem;
  text-align: center;
  font-size: 14pt;
  outline:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}

button{
  padding: 20px;
  border-radius: 20px;
  background-color: #3d3d3d;
  border: none;
  color:white;
  font-weight:700;
  font-size:1em;
}